@media screen and (max-width: 1600px) and (min-width: 800px){
    /* Scrollbar Code */
    /* width */
    ::-webkit-scrollbar {
        width: 0px;
        height: 5px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: orange;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: black;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: black;
    }


    /* Desktop Navbar */
    .mobile-navbar{
        display: none;
    }
    .navbar{
        background-color: #fa9232;
        padding: 20px;
        text-align: right;
        border-radius: 15px;
        box-shadow: 5px 5px 10px gray;
    }
    .navbar nav a{
        padding: 10px;
        padding-right: 25px;
        font-size: large;
        text-decoration: none;
        color: whitesmoke;
        font-weight: bold;
        align-items: center;
    }
    .navbar nav a:hover{
        background-color: white;
        transition: 0.3s;
        color: #fa9232;
        padding: 15px 15px 15px 15px;
        border-radius: 15px;
    }
    .navbar .active{
        background-color: white;
        color: orange;
        padding: 15px;
        border-radius: 15px;
    }

    /* General Information & overview card */
    .info-card{
        background-color: orange;
        box-shadow: 10px 10px 10px gray;
        margin-top: 50px;
        border-radius: 15px;
        min-width: 700px;
        max-width: 700px;
        width: 75%;

        height: 470px;
        min-height: fit-content;
        max-height: 470px;
        /* overflow-y: scroll; */
        margin: auto;
        margin-top: 50px;
    
    }

    .info-card b{
        color: blue;
    }

    /* Code to display text when hovered over image */
    .flip-card{
        background-color: transparent;
        perspective: 1000px;
    }
    .inner-card{
        position: relative;
        width: 100%;
        height: 100%;

    }
    .info-card .under-img{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
    .info-card .flip-card:hover .front-card{
        position: relative;
        transform: rotateY(180deg);
        transition: 0.8s;
        opacity: 0%;
        transform-style: preserve-3d;
    }
    .info-card .inner-card .under-img{
        width: 280px;
        height: 550px;
        margin-top: 20%;
        margin-left: 15px;
        align-content: center;
        text-align: justify;

    }

    /* change height and width of the card according to the size of the image */
    .info-card .front-card{
        height: 100%;
    }
    .info-card .profile-img{
        position: absolute;
        background-color: orange;
        border-radius: 5px;
        width: 300px;
        height: 470px;
        border-radius: 15px 0px 0px 15px;
    }

    .info-card .info h2{
        margin-left:380px;
        margin-top: 15px;
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }
    .info-card .info p{
        margin-right: 15px;
        margin-left: 315px;
        align-items: flex-start;
        text-align: justify;
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
        color: whitesmoke;
        min-height: fit-content;
        min-width: fit-content;
    }

    /* Project cards */
    .project-bar{
        width: 100%;
        height: 400px;
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

    }

    .project-bar .project-card, .card-wrapper .card{
        background-color: orange;
        width: 250px;
        height: 80%;
        flex-shrink: 0;
        border-radius: 15px;
        margin: 25px;
        text-align: center;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        box-shadow: 10px 10px 10px gray;
        overflow-y: auto;
        justify-content: center;
    }
    .project-bar .project-card p{
        text-align: justify;
        margin: 10px;
        font-size: larger;
    }
    .project-bar .project-card img{
        width: 100%;
        height: 200px;
        border-radius: 15px 15px 0px 0px;
        /* margin-top: 10px; */
    }
    .project-bar .project-card a{
        text-decoration: none;
        color: white;
    }


    /* Contact us Card */
    .card-wrapper{
        width: 600px;
        height: 300px;
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin: auto;
        
    }

    .card-wrapper .card{
        width: 100px;
        height: 100px;
        overflow: hidden;
    }
    .card-wrapper .card img{
        width: 100%;
        height: 100%;
    }


    /* Skills and Interest */
    .skills{
        width: 100%;
        height: 260px;
        margin: auto;
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .skills .card img{
        width: 100px;
        height: 100px;
        margin-top: 10px;
    }
    .skills .card{
        background-color: lightgray;
        width: 100%;
        font-weight: bold;
        font-size: large;
        height: fit-content;
        min-height: 230px;
        min-width: 200px;
        margin-left: 10px;
        overflow-y: visible;
        text-align: center;
        margin-top: 5px;
    }

    .skills .card p{
        color: orange;
    }
    .skills .card .stars{
        display: block;
        width: fit-content;
        height: 20px;
        margin: auto;
        text-align: center;
    }
    .skills .card .star-wrapper{
        display: inline-flex;
        width: 100%;
        text-align: center;
        margin-left: 25px;
        font-size: medium;
        font-weight: normal;
    }

    .skills .card .stars img{
        margin-right: 5px;
        width: 20px;
        height: 20px;
        margin-top: 0px;
    }


    footer{
        background-color: #fa9232;
        margin-top: 10px;
        text-align: center;
        border-radius: 15px;
        color: white;
        font-size: medium;
    }
    /* Courses page */
    .courses .level{
        border-radius: 15px;
        border-style: thick;
        width: 90%;
        margin: auto;
        box-shadow: 5px 5px 10px gray;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .courses .level .institution .summary{
        display:flex;
        border-style: none none solid none;
        border-color: orange;
        width: 97%;
        margin: auto;
    }
    .courses .level .institution .summary h3{
        margin-left: auto;
        margin-top: auto;
        text-align: center;
    }
    .courses .level .institution .about-institution p{
        display: flex;
        width: 97%;
        margin: auto;
        padding: 5px;
        text-align: justify;
    }
    .courses .level .courses-at ul li{
        font-weight: bold;
        padding: 10px;
    }
}