@media screen and (max-width: 800px){
    /* Scrollbar Code */
    /* width */
    ::-webkit-scrollbar {
        width: 0px;
        height: 3px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: orange;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: black;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: black;
    }


    /* Mobile Navbar */
    .navbar{
        display: none;
    }
    .mobile-navbar{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 95%;
        align-items: center;
        font-size: larger;
        color: white;
        border-radius: 5px;
        background-color: #fa9232;
        padding: 5px;
        text-align: right;
        border-radius: 15px;
        box-shadow: 5px 5px 10px 5px gray;
        /* transition: linear 2s; */
    }

    .mobile-navbar .btn img:hover{
        width: 40px;
        height: 40px;
    }
    .mobile-navbar button{
        background-color: #fa9232;
        border: none;
        font-size: larger;
        font-weight: bolder;
        color:white;
        padding: 2px;
    }
    .mobile-navbar .mobile{
        display: none;
        width: 100%;
        flex-direction: column;
    }
    .mobile-navbar nav a{
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 5px;
        font-size: large;
        text-decoration: none;
        color: whitesmoke;
        font-weight: bold;
        text-align: left;
        /* border: solid 1px white; */
        border-radius: 5px;
    }
    .mobile-navbar nav a:hover{
        background-color: white;
        transition: 0.4s;
        color: #fa9232;
        /* border-radius: px; */
        text-align: left;
        transition: linear .4s;
        /* transition-delay: .2s; */
        width: auto;
    }
    .mobile-navbar{
        align-items: flex-end;
    }
    /* menu icon */
    .mobile-navbar .btn img{
        width: 40px;
        height: 40px;
    }

    /* General Information & overview card */
    .info-card{
        position: relative;
        background-color: orange;
        box-shadow: 5px 5px 10px 5px gray;
        margin: auto;
        margin-top: 50px;
        border-radius: 15px;
        min-width: 200px;
        min-height: fit-content;
        width: 95%;
        height: 80%;
        text-align: justify;
    }
    .info-card b{
        color: blue;
    }
    /* Code to flip card on clicked */
    .flip-card{
        background-color: transparent;
        perspective: 1000px;
    }
    .inner-card{
        position: relative;
        width: 100%;
        height: 100%;

    }
    .info-card .under-img{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
    .info-card .under-img:active .flip-card{
        opacity: 100%;
        /* transform: rotateY(180deg); */
        transition: ease-in-out;
    }
    .info-card .flip-card:active .front-card{
        position: relative;
        /* transform: rotateY(180deg); */
        transition: 1.2s;
        opacity: 0%;
        transform-style: preserve-3d;
    }
    .info-card .inner-card .under-img {
        margin: auto;
        height: 200px;
        align-content: center;
        margin-top: 200px;
    }
    .info-card .inner-card .under-img p{
        width: 90%;
        height: 10px;
        margin-left: 10px;
        margin-top: 30px;
        text-align: justify;

    }

    /* change height and width of the card according to the size of the image */
    .info-card .profile-img{
        position: relative;
        background-color: orange;
        border-radius: 5px;
        width: 100%;
        height: 45%;
        border-radius: 15px 15px 0px 0px;
        overflow: hidden;
    }
    .info-card .info h2{
        position: relative;
        text-align: center;
        margin-top: 15px;
        margin-left: 5%;
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }
    .info-card .info p{
        /* margin-right: 3000px; */
        margin-top: 20px;
        margin-left: 15px;
        margin-right: 15px;
        position: relative;
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
        color: black;
    }

    /* Project cards */
    .project-bar{
        width: 98%;
        height: 400px;
        display: flex;
        align-items: center;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

    }
    .project-bar .project-card{
        background-color: orange;
        width: 70%;
        height: 80%;
        flex-shrink: 0;
        border-radius: 15px;
        margin: 25px;
        text-align: center;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        box-shadow: 5px 5px 10px 5px gray;
        overflow-y: auto;
        justify-content: center;
    }
    .project-bar .project-card p{
        text-align: justify;
        margin: 10px;
        font-size: larger;
    }
    .project-bar .project-card img{
        width: 100%;
        height: 65%;
        border-radius: 15px 15px 0px 0px;
    }
    .project-bar .project-card a{
        text-decoration: none;
        color: white;
    }


    /* Contact us Card */
    .card-wrapper{
        width: 100%;
        margin:auto;
        height: 100px;
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        align-items: flex-end;
        box-shadow: 5px 5px 10px 5px gray;
        border-radius: 15px;
        margin-bottom: 10%;
        
    }
    .card-wrapper .card{
        margin: auto;
        background-color: orange;
        width: 250px;
        height: 70%;
        align-items: center;
        flex-shrink: 0;
        border-radius: 15px;
        text-align: center;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        overflow-y: hidden;
        justify-content: center;

    }

    .card-wrapper .card{
        width: 12%;
        height: 50%;
        overflow: hidden;
    }
    .card-wrapper .card img{
        width: 100%;
        height: 100%;
    }

    /* Skills and Interest */
    .skills{
        width: 100%;
        height: 230px;
        border-radius: 15px;
        display: flex;
        margin-left: 0%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        box-shadow: 5px 5px 10px 5px gray;

    }
    .skills .card img{
        width: 90px;
        height: 80px;
        margin-top: 15px;
    }
    .skills .card{
        background-color: lightgray;
        width: 90%;
        font-weight: bold;
        font-size: large;
        height: fit-content;
        min-height: 210px;
        min-width: 180px;
        margin-left: 10px;
        overflow-y: visible;
        text-align: center;
        margin-top: 10px;
    }

    .skills .card p{
        color: orange;
    }
    .skills .card .stars{
        display: block;
        font-size: medium;
        font-weight: normal;
        width: 200px;
        height: 20px;
        margin: auto;
        text-align: center;
    }
    .skills .card .star-wrapper{
        display: inline-flex;
        align-items: center;
        width: 100%;
        text-align: center;
        margin-left: 15px;
    }

    .skills .card .stars img{
        margin-right: 5px;
        width: 20px;
        height: 20px;
        margin-top: 0px;
    }

    footer{
        background-color: #fa9232;
        margin-top: 10px;
        text-align: center;
        border-radius: 15px;
        color: white;
        font-size: medium;
    }
    /* Courses page */
    .courses .level{
        border-radius: 15px;
        border-style: thick;
        width: 90%;
        margin: auto;
        box-shadow: 5px 5px 10px 5px gray;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .courses .level .institution .summary{
        display:flex;
        border-style: none none solid none;
        border-color: orange;
        width: 97%;
        margin: auto;
    }
    .courses .level .institution .summary h3{
        margin-left: auto;
        margin-top: auto;
        text-align: center;
    }
    .courses .level .institution .about-institution p{
        display: flex;
        width: 90%;
        margin: auto;
        padding: 5px;
        text-align: justify;
    }
    .courses .level .courses-at ul li{
        font-weight: bold;
        padding: 10px;
        width: 95%;
    }
}