@media screen and (max-width: 1600px) and (min-width: 800px){
    /* Scrollbar Code */
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background:#5fd6e6;;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: black;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: black;
    }

    body{
        width: 100%;
        background-color: white;
        background-image: linear-gradient(135deg, white, rgba(0, 0, 0, 0.8));
        overflow-x: hidden;
    }

    /* Desktop Navbar */
    .mobile-navbar{
        display: none;
    }
    .navbar{
        background-color: #60d9e9;
        background-image: linear-gradient(80deg, rgb(77, 203, 253), #60d9e9);
        width: 98%;
        padding: 10px;
        text-align: right;
        display: flex;
        align-items: center;
        margin: auto;
        overflow-x: hidden;
    }
    .navbar h1{
        margin-right: auto;
    }
    .navbar nav{
        margin-left: auto;
        margin-right: 35px;
    }
    .navbar nav a{
        padding: 25px;
        font-size: large;
        text-decoration: none;
        color: whitesmoke;
        font-weight: bold;
        align-items: center;
    }
    .navbar nav a:hover{
        background-color: black;
        background-image: linear-gradient(45deg, lightgray, rgba(0, 0, 0, 0.1));
        transition: linear 0.4s;
        color: white;
        padding: 25px;
    }
    .navbar .active{
        background-color: black;
        background-image: linear-gradient(45deg, lightgray, rgba(0, 0, 0, 0.1));
        color: whitesmoke;
        padding: 25px;
    }

    
    /* General Information & overview card */
    .info-card{
        background-color: #5fd6e6;
        box-shadow: 5px 5px 10px black;
        margin-top: 50px;
        min-width: 600px;
        max-width: 700px;
        width: 75%;
        height: 470px;
        min-height: fit-content;
        max-height: 550px;
        margin: auto;
        margin-top: 50px;
        font-stretch: ultra-expanded;
        font-weight: normal;
    
    }

    .info-card b{
        color: black;
    }

    /* Code to display text when hovered over image */
    .flip-card{
        background-color: transparent;
        perspective: 1000px;
    }
    .inner-card{
        position: relative;
        width: 100%;
        height: 100%;
        color: rgb(71, 70, 70);
        font-stretch: ultra-expanded;
        font-weight: normal;

    }
    .info-card .under-img{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
    .info-card .inner-card .under-img{
        width: 280px;
        height: 550px;
        margin-top: 20%;
        margin-left: 15px;
        align-content: center;
        text-align: justify;

    }

    /* change height and width of the card according to the size of the image */
    .info-card .front-card{
        height: 100%;
    }
    .info-card .profile-img{
        position: absolute;
        background-color: gray;

        width: 300px;
        height: 470px;
    }

    .info-card .info h2{
        margin-left:380px;
        margin-top: 15px;
        color: black;
        font-family: 'Times New Roman', Times, serif;
    }
    .info-card .info p{
        margin-right: 15px;
        margin-left: 315px;
        align-items: flex-start;
        text-align: justify;
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
        color: rgb(71, 70, 70);
        min-height: fit-content;
        min-width: fit-content;
    }

    /* Project cards */
    .heading{
        width: 100%;
        /* background-color: white; */
        padding: 20px;
        margin-bottom: 0px;
    }
    .project-bar{
        width: 100%;
        height: 400px;
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

    }

    .project-bar .project-card, .card-wrapper .card{
        background-color: #5fd6e6;
        width: 250px;
        height: 80%;
        flex-shrink: 0;
        margin: 25px;
        text-align: center;
        color: black;
        font-family: 'Times New Roman', Times, serif;
        /* box-shadow: 10px 10px 10px gray; */
        overflow-y: auto;
        justify-content: center;
    }
    .project-bar .project-card:hover{
        background-color: #5fd6e6;
        transition: transform 0.4s;
        transform: scale3d(1.1, 1.1, 2);
        box-shadow: 10px 10px 10px gray;

    }
    .project-bar .project-card p{
        text-align: justify;
        margin: 10px;
        font-size: larger;
    }
    .project-bar .project-card img{
        width: 100%;
        height: 200px;
    }
    .project-bar .project-card a{
        text-decoration: none;
        color: black;
    }


    /* Contact us Card */
    .card-wrapper{
        width: 600px;
        height: 300px;
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin: auto;
        
    }

    .card-wrapper .card{
        width: 100px;
        height: 100px;
        overflow: hidden;
    }
    .card-wrapper .card img{
        width: 100%;
        height: 100%;
    }


    /* Skills and Interest */
    .skills{
        width: 100%;
        height: 260px;
        margin: auto;
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .skills .card img{
        width: 100px;
        height: 100px;
        margin-top: 10px;
        border-radius: 150px;
    }
    .skills .card{
        background-color: white;
        width: 100%;
        font-weight: bold;
        font-size: large;
        height: fit-content;
        min-height: 230px;
        min-width: 200px;
        margin-left: 10px;
        overflow-y: visible;
        text-align: center;
        margin-top: 5px;
    }

    .skills .card p{
        color: black;
    }
    .skills .card .stars{
        display: block;
        width: fit-content;
        height: 20px;
        margin: auto;
        text-align: center;
    }
    .skills .card .star-wrapper{
        display: inline-flex;
        width: 100%;
        text-align: center;
        margin-left: 25px;
        font-size: medium;
        font-weight: normal;
    }

    .skills .card .stars img{
        margin-right: 5px;
        width: 20px;
        height: 20px;
        margin-top: 0px;
    }


    footer{
        background-color: #5fd6e6;
        margin-top: 10px;
        width: 95%;
        font-weight: bold;
        text-align: center;
        color: white;
        font-size: medium;
        padding: 30px;
    }
    /* Courses page */
    .courses .level{
        background-color: white;
        border-radius: 15px;
        border-style: thick;
        width: 90%;
        margin: auto;
        box-shadow: 5px 5px 10px black;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .courses .level .institution .summary{
        display:flex;
        border-style: none none solid none;
        border-color: black;
        width: 97%;
        margin: auto;
    }
    .courses .level .institution .summary h3{
        margin-left: auto;
        margin-top: auto;
        text-align: center;
    }
    .courses .level .institution .about-institution p{
        display: flex;
        width: 97%;
        margin: auto;
        padding: 5px;
        text-align: justify;
    }
    .courses .level .courses-at ul li{
        font-weight: bold;
        padding: 10px;
    }
}




@media screen and (max-width: 1200px) and (min-width: 800px){
    .navbar{
        display: none;
    }
    .mobile-navbar{
        background-color: #5fd6e6;
        display: inline-flex;
        flex-direction: column;
        height: auto;
        width: 100%;    
        color: black;
        padding: 5px;
        align-items: center;
    }
    .mobile-navbar .navbar-head{
        flex-direction: row;
        display: flex;
        width: 100%;
    }
    .mobile-navbar h1{
        margin-right: auto;
    }
    .mobile-navbar .btn img:hover{
        align-self: center;
        width: 40px;
        height: 40px;
    }
    .mobile-navbar button{
        background-color: #5fd6e6;
        border: none;
        width: 60px;
        height: 60px;
        align-self: center;
    }
    .mobile-navbar .mobile{
        display: none;
        width: 100%;
        flex-direction: column;
    }
    .mobile-navbar nav a{
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 5px;
        font-size: large;
        text-decoration: none;
        color: white;
        font-weight: bold;
        text-align: left;
    }
    .mobile-navbar nav a:hover{
        background-color: black;
        background-image: linear-gradient(-45deg, lightgray, rgba(0, 0, 0, 0.1));
        transition: linear 0.4s;
        color: white;
        /* border-radius: px; */
        text-align: left;
        transition: linear .4s;
        /* transition-delay: .2s; */
        width: auto;
    }
    .mobile-navbar{
        align-items: flex-end;
    }
    /* menu icon */
    .mobile-navbar .btn img{
        width: 40px;
        height: 40px;
    }

}